@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Utilize esta página para detalhar a politica de privacidade da páginaUse this page to detail your site's privacy policy.</p>
